*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    background: linear-gradient(rgb(201, 235, 201),tomato)
    brown;
    border-radius: 20%;
    
}
h1{
    font-size: 0;
}

header{
  margin: 0;
  height: 15vh;
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: rgb(248, 245, 238);
 letter-spacing: 0.1px;
  overflow: hidden;
  border-bottom: 2px solid rgb(233, 92, 92);
  box-shadow: 10px #02080e;
 
}
.ni{
    padding: 0;
    list-style-type: none;
}
.ni li{
    box-sizing: border-box;
    width: 12em;
    height: 3em;
    font-size: 20px;
    border-radius: 0.7em;
    margin: 0.5em;
    box-shadow: 0 0 2em #3295e6;
    color: rgb(15, 11, 11);
    font-family: sans-serif;
    text-transform: uppercase;
    line-height: 3em;
    transition: 0.3s;
    cursor: pointer;
   
}
.ni li:nth-child(odd){
    background:linear-gradient( to right, rgb(241, 170, 76), tomato
    );
    text-align: left;
    padding-left: 10%;
    transform: perspective(500px)rotateY(-45deg);
}
.ni li:nth-child(odd):hover{
    transform: perspective(200px)rotateY(45deg);
    padding-left: 5%;
}
.ni li:nth-child(even):hover{
    transform: perspective(200px)
}
header img{
    width: 100px;
    height: 80px;
    margin-left: -100px;

}

.fermaa{
    width: 650px;
    height: 300px;
}
.fermaa img{
    width: 100%;
   margin-left: 680px;
}

main{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    display: flex;
}

    .socialicons{
        width: 100px;
        height: 200px;
        position: fixed;
        top: 200px;
        right: -35px;
    }
    .socialicons div{
        width: 60%;
        height: 32%;
        overflow: hidden;
    }
    .socialicons div img{
        width: 100%;
    }
    
.button{
    width: 150px;
    text-align: center;
    padding: 10px;
    background-color: blue;
    color: #ffffff;
    position: fixed;
    bottom: 30px;
    right: 0px;

}
.button:hover{
background-color: #3295e6;
}
.el{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 100px;
    left: 10px;
    border-radius: 50%;
    background-color: #f45f42;
    offset-distance: 100%;
    offset-path: path(m 211);

}
.statia{
    width: 40%;
    margin: 3px auto;
    margin-top: -250px;
    margin-left: 50px;
    background-color: #bd967c;
    padding: 10px;
    height: 350px;
    overflow-y: scroll;
    display: inline-block;
    border-radius: 5%;
    border: #02080e 1px solid;
}
.item{
    height: 200px;
    overflow: hidden;
}
.item img{
    width: 100%;
    height: 200px;
}
.owl-theme .owl-nav{
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.owl-theme .owl-nav [class*=owl-]{
    font-size: 70px !important;
}

.container{
    width: 100%;
    height: 150px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}

.footer{
    background-color: #244d27;
    padding: 30px 0;
}
.footer-col{
width: 25%;
padding: 0 80px;
}
.footer-col h4{
    font-size: 22px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 200;
    position: relative;
}

.footer-col ul li a{
    font-size: 15px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.5s ease;

}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(9, 146, 226, 0.911);
    margin: 0 15px 15px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    transition: 0.5s;
    
    }
.footer-col  img{
    margin-top: -40px;
    width: 50%;
    height: 70px;
}

.tel a{
    height: 50px;
    text-indent: 60px;
    font-size: xx-large;
}

/*responsive*/

/*@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}*/
.containerbox{
    width: 90%;
    height: 500px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    position: static;
}

.boxi{
    width: 30%;
    height: 300px;
    padding: 10px;
    overflow: hidden;
 border: #02080e 2px solid;
}

.boxi img{
    width: 100%;
    height: 250px;
    display: block;
    display: flex;
    
}
.boxi h5{
    font-size: large;
    background-color: #ee7817c5;
    text-align: center;
}

.kontaqt{
    color: #211e1e;
    font-size: 50px;
    padding-top: 100px;
    text-align: center;
}

form{
    padding-top: 0px;
    
}
.kariera{
    text-align: center;
    font-size: 40px;
    color: #244d27;
    letter-spacing: 3px;
}


.registr{
    width: 800px;
    margin: 50px 70px;
}

.registr input, .registr textarea{
    width: 100%;
    padding: 9px;
    margin-bottom: 16px;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #000000;
}

input, textarea{
    background-color: #8adf6be8;
}

.registr textarea{
    border: 2px solid #000000;
}

.gender input{
    width: 5%;
}



.registr input[type="submit"]{
    border: none;
    background-color: #3f6441;
}

.registr input:hover[type="submit"]{
    background-color: #08f708;
    border: 1px solid #000000;
}


.bodihover{
    background-image: url(../img/dzroxafermashi.jpeg);
}
.warmateba{
    color: #08f708;
    font-size: xx-large;
    text-align: center;
}

/*meore gverdi*/

.misia{
    width: 500px;
    height: 100px;
    margin-left: 400px;
    text-align: center;
    color: #152415;
}
.misia .sami {
    width: 50%;
    height: auto;
}
.foto{
    width: 100%;
    height: 500px;
    flex-wrap: wrap;
}
.ptegi .flex p{
    width: 630px;
    height: 150px;
    background-color: hwb(59 44% 9%);
    color: #fc401a;
   flex-wrap: wrap; 
   font-size: 16.5px;  
   border-radius: 15px;
   margin-left: 20px;
}

.foto img {
    margin-top: 20px;
    width: 30%;
    height: 350px;
    margin-left: 30px;

}
.fraza{
    width: 800px;
    height: 100px;
    color: #02080e;
    font-size: 50px;
    margin-left: 470px;
    margin-top: -300px;
}



/* /*responsive/* */
@media only screen and (max-width: 820px) {
 .ni{
    width: 100%;
    background-color: #08f708;
 }
 .owl-theme{
    width: 70%;
    height: 50px;
    margin: 50px auto;
 }
 .statia{
    width: 20%;
    height: 30%;
    display: block;
    margin-top: 200px;
 }
 .fermaa{
    width: 30%;
    height: 30%;
    display: block;
    margin-top: 200px;
 }
.footer{
    width: 100%;
}
 
 }




  









